.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.navbar .form-control {
  width: 100%;
  max-width: 400px;
}

.navbar .btn-primary {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Custom CSS to make the offcanvas take only half the screen width */
.half-screen-offcanvas {
  width: 75% !important; /* Set width to 50% */
  max-width: 75% !important;
}

/* Dropdown hover effect */
.dropdown-hover:hover .dropdown-menu {
  display: block;  
}

/* Optional: Adjust the dropdown menu styling */
.dropdown-menu {
  margin-top: 0;
}

/* --- .carousel ---- */

.carousel-inner {
  height: 300px;
  margin-top: -50px;
}

.carousel-inner .carousel-item img {
  height: 300px;
}
 
 
/* cart */

.container {
  max-width: 600px;
} 

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

 /* -------- back button ------- */

 .back-btn { 
  display: inline-block;
  background-color: #007bff;
  color: white;
  border: none;
  padding:  8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #0056b3;
}

.back-btn:focus {
  outline: none;
}


@media (max-width: 768px) {
  .card {
    margin: 10px 0;
  }
} 
 
