
<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row  text-md-left py-4">
            <div class="col-md-3 col-6">
                <h5>ABOUT</h5>
                <ul>
                    <li>Contact Us</li>
                    <li>About Us</li>
                    <li>Press</li>
                    <li>Corporate Information</li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5>HELP</h5>
                <ul>
                    <li>Payments</li>
                    <li>Shipping</li>
                    <li>Cancellation & Returns</li>
                    <li>FAQ</li>
                    <li>Report Infringement</li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5>CONSUMER POLICY</h5>
                <ul>
                    <li>Cancellation & Returns</li>
                    <li>Terms Of Use</li>
                    <li>Security</li>
                    <li>Privacy</li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5>Mail Us:</h5>
                <p>T-Verse Clothing Hub, Pune MH, India</p>
                <div class="social-icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center py-3">
            <p>&copy; 2023-2024 t-verse.in | All rights reserved</p>
        </div>
    </div>
</footer>