/* --------- category-menu */
 
.category-menu-wrapper {
  display: flex;
  overflow-x: auto; 
  padding: 10px 0;
  justify-content: center;     
  scrollbar-width: none;
} 

.category-menu {
  flex-shrink: 0;  
  text-align: center; 
} 
.category-menu-card { 
    transition: all 0.3s ease-in-out;
    padding: 10px;
    margin: 0px 20px 0px 0px; 
  }
 
.category-menu-card:hover {
  transform: scale(1.1);   
  cursor: pointer;
}
 
.category-menu-card img {
  max-width: 50px;
  height: 50px;
  object-fit: cover; 
  margin-bottom: 5px;    
}
 
.category-menu-card .text {
  font-size: 0.9rem;   
  font-weight: 500;
}
 
@media (max-width: 768px) { 
    
  .category-menu-wrapper {
    white-space: nowrap; 
    overflow-x: scroll;   
  justify-content: start; 
  }

  .category-menu-card {
    min-width: 70px;  
  }

  .category-menu-card img {
    width: 40px;  
    height: 40px;
  }

  .category-menu-card .text {
    font-size: 0.8rem;  
  }
} 

/* --- .carousel ---- */

.carousel-inner {
    height: 400px; 
}

.carousel-inner .carousel-item img {
    height: 400px;
}

 
@media (max-width: 768px) { 
    .carousel-inner {
        height: 100px; 
    } 
    .carousel-inner .carousel-item img {
        height: 100px;
    }
     
  } 

/* ---- -card */

.container {
    padding: 20px;
}

h4 {
    font-weight: 600;
    color: #333;
} 
.card {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 150px;
    transition: transform 0.3s ease;
}

/* Custom CSS to make the offcanvas take only half the screen width */
.half-screen-offcanvas {
    width: 75% !important; /* Set width to 50% */
    max-width: 75% !important;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.card-body {
    padding: 15px;
    background-color: #fff;
}

.card-text {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin: 0;
}

/* scroll-container */ 

.scroll-container {
    position: relative;
    overflow-x: auto; 
    white-space: nowrap; 
    scrollbar-width: none;
}

.card-row {
    display: flex;
    flex-wrap: nowrap;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.713);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.scroll-btn.left {
    left: 0; /* Position to the left */
}

.scroll-btn.right {
    right: 0; /* Position to the right */
}

@media (max-width: 768px) {
    .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        height: 40  0px;
        transition: transform 0.3s ease;
    }
  } 