<!-- Offcanvas Menu for Mobile View -->
<div class="offcanvas half-screen-offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu"
    aria-labelledby="offcanvasMenuLabel">
    <div class=" offcanvas-header bg-info">
        <h5 class="offcanvas-title" id="offcanvasMenuLabel"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg></h5>
        <label class="text-white">
            Login & Signup
        </label>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a href="#" class="nav-link"><i class="bi bi-collection-fill"></i> All Categories</a>
        <a href="#" class="nav-link"><i class="bi bi-trophy-fill"></i> Offer Zone</a>
        <a [routerLink]="['/product-list']" class="nav-link"><i class="bi bi-star-fill"></i> Best Sales</a>
        <a href="#" class="nav-link"><i class="bi bi-bag-heart-fill"></i> My Orders</a>
        <a [routerLink]="['/cart']" class="nav-link"><i class="bi bi-cart-check-fill"></i> My Cards</a>
        <a href="#" class="nav-link"><i class="bi bi-heart-fill"></i> Favorite</a>
        <a href="#" class="nav-link"><i class="bi bi-person-fill"></i> My Account</a>
        <a href="#" class="nav-link"><i class="bi bi-info-circle-fill"></i> Help Center</a>
    </div>
</div>


<div class="container my-4 pt-5">
    <div class="col-md-3">
        <button class="back-btn" (click)="goBack()">← Back</button>
    </div>
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-4 mt-4">
            <div *ngIf="product.colorOptions && product.colorOptions.length > 0">
                <figure>
                    <img [src]="product.colorOptions[selectedIndex]?.imageUrl" alt="Dynamic Image">
                    <figcaption>{{ product.brand }}</figcaption>
                </figure>
            </div>
        </div>

        <!-- Product Details -->
        <div class="col-md-8">
            <h4>{{ product.brand }}</h4>
            <h2>{{ product.name }}</h2>
            <p>
                <span class="text-success">₹{{ product.price }}</span>
                <span class="text-muted"><del>₹{{ product.originalPrice }}</del></span>
                <span class="badge bg-success ms-2">{{ product.discount }}</span>
            </p>
            <p>
                <span class="text-warning">{{ product.rating }} ★</span>
                <span>{{ product.reviews }} ratings and 91 reviews</span>
            </p>

            <!-- Colors -->
            <p><strong>Color</strong></p>
            <div class="d-flex flex-row colorImages">
                <div class="me-2" *ngFor="let color of product.colorOptions">
                    <img [src]="color.imageUrl" class="card-img-top" alt="{{ color.name }}"
                        (click)="changeImage(color.id)" style="width: 50px; height: 50px;">
                </div>
            </div>

            <!-- Sizes -->
            <p class="mt-2"><strong>Size : </strong> </p>
            <div class="d-flex mb-3 ">
                <button *ngFor="let size of product.sizes" class="btn btn-outline-secondary me-2">{{ size }}</button>
            </div>

            <!-- Offers -->
            <p><strong>Coupons for you</strong></p>
            <ul>
                <li *ngFor="let offer of product.offers">
                    <span class="fw-bold">{{ offer.type }}:</span> {{ offer.description }}
                </li>
            </ul>

            <!-- Add to Cart and Buy Now Buttons -->
            <div class="d-flex mt-4">
                <button class="btn btn-warning me-2" (click)="addToCartFunction()">ADD TO CART</button>
                <button class="btn btn-success" (click)="buyFunction()">BUY NOW</button>
            </div>
        </div>
    </div>
</div>